<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.zqls.ucenter.mapper.UmsUserAccountRechargeMapper">
  <resultMap id="BaseResultMap" type="com.duanxin.zqls.ucenter.model.UmsUserAccountRecharge">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="style" jdbcType="CHAR" property="style" />
    <result column="amount" jdbcType="BIGINT" property="amount" typeHandler="com.duanxin.zqls.common.handler.MoneyTypeHandler" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.amountCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler} and #{criterion.secondValue,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.amountCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler} and #{criterion.secondValue,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, time, style, amount
  </sql>
  <select id="selectByExample" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountRechargeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_user_account_recharge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountRechargeExample">
    delete from ums_user_account_recharge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountRecharge">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      CALL IDENTITY()
    </selectKey>
    insert into ums_user_account_recharge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="time != null">
        time,
      </if>
      <if test="style != null">
        style,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="style != null">
        #{style,jdbcType=CHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountRechargeExample" resultType="java.lang.Long">
    select count(*) from ums_user_account_recharge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_user_account_recharge
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.style != null">
        style = #{record.style,jdbcType=CHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=BIGINT,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_user_account_recharge
    set id = #{record.id,jdbcType=INTEGER},
      time = #{record.time,jdbcType=TIMESTAMP},
      style = #{record.style,jdbcType=CHAR},
      amount = #{record.amount,jdbcType=BIGINT,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountRecharge">
    update ums_user_account_recharge
    <set>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="style != null">
        style = #{style,jdbcType=CHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountRechargeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_user_account_recharge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>