<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanxin.zqls.ucenter.mapper.UmsUserAccountInfoMapper">
  <resultMap id="BaseResultMap" type="com.duanxin.zqls.ucenter.model.UmsUserAccountInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="aid" jdbcType="CHAR" property="aid" />
    <result column="balance" jdbcType="BIGINT" property="balance" typeHandler="com.duanxin.zqls.common.handler.MoneyTypeHandler" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="flow_id" jdbcType="INTEGER" property="flowId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.balanceCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler} and #{criterion.secondValue,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.balanceCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler} and #{criterion.secondValue,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, aid, balance, type, flow_id
  </sql>
  <select id="selectByExample" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_user_account_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountInfoExample">
    delete from ums_user_account_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      CALL IDENTITY()
    </selectKey>
    insert into ums_user_account_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="flowId != null">
        flow_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=CHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=BIGINT,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="flowId != null">
        #{flowId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountInfoExample" resultType="java.lang.Long">
    select count(*) from ums_user_account_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_user_account_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.aid != null">
        aid = #{record.aid,jdbcType=CHAR},
      </if>
      <if test="record.balance != null">
        balance = #{record.balance,jdbcType=BIGINT,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.flowId != null">
        flow_id = #{record.flowId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_user_account_info
    set id = #{record.id,jdbcType=INTEGER},
      aid = #{record.aid,jdbcType=CHAR},
      balance = #{record.balance,jdbcType=BIGINT,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler},
      type = #{record.type,jdbcType=CHAR},
      flow_id = #{record.flowId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountInfo">
    update ums_user_account_info
    <set>
      <if test="aid != null">
        aid = #{aid,jdbcType=CHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=BIGINT,typeHandler=com.duanxin.zqls.common.handler.MoneyTypeHandler},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="flowId != null">
        flow_id = #{flowId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.duanxin.zqls.ucenter.model.UmsUserAccountInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_user_account_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int">
    select <include refid="Base_Column_List"/>
    from zqls.ums_user_account_info
    where id = #{id}
  </select>
</mapper>